.terminal {
    background-color: #444;
    color: #fff;
    margin-bottom: 30px;
}

.terminal .header {
    height: 13px;
    line-height: 13px;
}

.terminal .header div,
.terminal .header img {
    display: block;
    float: left;
}
.terminal .header .title {
    font-family: sans-serif;
    font-size: 16px;
    display: block;
    line-height: 26px;
}

.terminal > pre {
    background-color: #444;
    color: #fff;
    border: none;
    margin-bottom: 0;
}

.terminal > pre > p {
    margin-bottom: 0;
}

.terminal .highlight pre,
.terminal .highlight code {
    background-color: initial !important;
    border: none;
}


.imagecredit{
    font-family: sans-serif;
}
.imagecredit a{
    color: #939393;
    cursor: pointer;
    font-size: 0.5em;
}

.intro-header{
    box-shadow: 0 0 10px 0 #666666;
}
.container a{
    color: #1b6d85;
    text-decoration: underline;
}

.container  img{
     max-width:600px;
 }

math{
    font-size: 1.5em;
}